body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  height: 100vh;
  overflow: hidden;
  background: #060712;
  position: relative;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #000000; 
  animation: pulseRed 15s ease-in-out infinite; 
}

@keyframes pulseRed {
  0%, 100% { background-color: #000000; }   
  50% { background-color: #4b0000; }        
}


h1, h2, h3 {
  font-weight: bold;
  color: #7c7cff; 
  margin-bottom: 0.5rem;
}
img {
  position: center;
  
}


p {
  color: #cccccc; 
  margin-bottom: 1rem;
}

button, a {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff6600, #cc5200); 
  border: none;
  color: #000; 
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 20px 60px rgba(255,102,0,0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover, a:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 40px 100px rgba(255,102,0,0.6);
}
.wow {
  display: block;
  margin: 0 auto;
}


.addons {
  display: flex;
  justify-content: flex-start; 
  gap: 40px;                   
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.addon {
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 30px;
  min-width: 180px;
  max-width: 220px;
  text-align: center;
  flex: 1 1 180px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.addon:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 60px rgba(255,102,0,0.5);
}

.addon img {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
  position: relative; 
  align-items: center; 
}

.addon p {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}


.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 60px 0;
  padding: 0 20px;
}


.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  height: 4px;
  background-color: #fff;
  transform: translateY(-50%);
  z-index: 0;
}


.timeline-item {
  position: relative;
  z-index: 1;
  text-align: center;
}


.timeline-item::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ff6600; 
  border-radius: 50%;
  margin: 0 auto 10px auto;
}


.timeline-item span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.maps {
  display: flex;
  justify-content: flex-start; 
  gap: 40px;                   
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.map {
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 30px;
  min-width: 180px;
  max-width: 220px;
  text-align: center;
  flex: 1 1 180px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.map:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 60px rgba(255,102,0,0.5);
}

.map img {
  width: 100%;
  max-width: 1500px;
  height: auto;
}

.map p {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}
